<div class=""><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
<div style="width: 300px; margin: auto">
<app-selectbox [options]="selectboxOptions" (valueChange)="optionSelected($event)"></app-selectbox>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--
<button style="position: fixed; top: 0; left: 0;" (click)="a = !a">click</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="main-container" [ngClass]="{'show-up': a}">
    <div class="text">აირჩიეთ</div>
    <div class="input"></div>
    <div class="selectbox-container"></div>
</div>-->
